*{
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

/*------------------- HEADER -------------------*/

.navbar-default{
	background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #3F3F3F;
	font-size: 25px;    
}

.navbar-default .navbar-brand span{
    color: #E33139;
}

.navbar-default .navbar-nav>li>a {
    color: #3F3F3F;
}

.btn-search{
	background-color: #E33139;
	padding: 5px 15px;
	box-shadow: 2px 2px 5px #999;	
}

.fa-search{
	color: white;
	font-size: 20px;
}

.navbar-toggle{
    float: left;
    margin-left: 15px;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #E33139;
    height: 3px;
}

.el-hr hr{
	background-color: #E33139;
	height: 1px;
	margin: 0;
}

.lupa{
	position: relative;
}

.btn-lupa{
    position: absolute;
    right: 15px;
    bottom: 30px;	
}


/*------------------- SECTION POPULAR -------------------*/

.popular{
	padding: 40px 10px;
}

.madonna img,
.ninos img,
.woman img{
	width: 100%;
}

.madonna{
	position: relative;
}

.el-popular{
    position: absolute;
    float: left;
    background: #ea4748;
    z-index: 3;
    top: 0;
    padding: 5px 30px;	
}

.el-popular p{
	color: white;
	padding-top: 5px;
}

.los-ninos{
	padding-bottom: 20px;
}


/*------------------- SECTION MUCHOS -------------------*/
.red-p{
	background-color: #E33139;
	width: 130px;
	height: 4px;
	margin: 0;
	position: relative;
	top: 2px;	
}

.red{
	background-color: #E33139;
	height: 1px;
	margin: 0 0 10px 0;
}

.gris{
	background-color: #7F7F7F;
	height: 1px;
	margin: 10px 0;
}

.stars{
	color: #B1B1B1;
}

.stars .r-s{
	color: #E62F40;	
}

.popular-news{
	padding-bottom: 30px;
}

.may26 h6{
	color: #E62F40;
}


/*------------------- SECTION ARTICLE -------------------*/

/*------- STAY CONNECTED ---------*/

.caja-f{
	background-color: #2F4487;
	width: 100%;
	padding: 18px;
	margin-bottom: 10px;
}

.caja-t{
	background-color: #1D8FF0;
	width: 100%;
	padding: 18px;	
	margin-bottom: 10px;	
}

.caja-r{
	background-color: #DE7709;
	width: 100%;
	padding: 18px;	
	margin-bottom: 10px;		
}

.facebook i,
.twitter i,
.rss i{
	color: white;
	font-size: 20px;
}

.stay-connected p{
	color:#3F3F3F;
	font-size: 12px;
}

.stay-connected{
	margin-bottom: 40px;
}
/*------- VIMEO VIDEOS ---------*/

.video-skate{
	margin: 40px 0;
}